<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fan">
            <h2><span>Fan</span> {{ fan.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Full Name</span></dt>
                <dd>
                    <span>{{ fan.fullName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ fan.email }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ fan.phone }}</span>
                </dd>
                <dt><span>Img Path</span></dt>
                <dd>
                    <span>{{ fan.imgPath }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fan', fan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
